/* ./src/index.css
@tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    padding: 0;
}

body {
    min-height: 100%;
    padding: 0;
}
